    <footer>
        <div class="container">
            <p>&copy; <%= new Date().getFullYear() %> Finance Tracker. All rights reserved.</p>
            
        </div>
    </footer>
    
    
</body>
</html>