<%- include('partials/header', {title: 'Report - Finance Tracker'}) %>
<%- include('partials/navbar') %> 

            <div class="empty-state">
               <i class="fas fa-history"></i>
               <h1>This Features is comming soon</h1>
                <p>Click the button below to view all transactions</p>
                <a href="/alltranscations" class="btn btn-primary">View all transaction</a>
            </div>

<%- include('partials/footer') %>